/* FONTS */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-image: url(img/purplesmoke.jpg);
    
    
    
}


.fa-solid {

    color: rgb(255, 255, 255);
    




}

/* FORM CONTAINER */

.container{
   background: rgb(255, 255, 255);
   height:100px;
   width: 150px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -50px;
   margin-left: -100px;
   transform: scale(8);
   border-radius: 7%;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   
   
   

}
  
/* Images*/

img#coldmountains{
    object-fit: contain;                                     
    height:100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
    
}


img#huskylogo{

    height: 100px;
    position: relative;
    top: 20em;
    left: 23em;

}

img#huskylogo:hover{
    transition: transform 0.7s ease-out;
    transform: rotate(720deg);
    cursor: pointer;
}


/* Text next to the logo */

p.huskytext{

    font-family: 'Iceland', cursive;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 8em;
    left: 12.5em;
    box-shadow: rgb(255, 255, 255) 2px 2px 4px;
    cursor: pointer;
    

}



p.huskytext:hover{
    color: rgb(255, 255, 255);
  box-shadow: 0 0px 3px rgba(255, 255, 255, 0.952);
  
}



p.formtext{
    font-family: 'Iceland', cursive;
    width: 420px;
    margin: auto;
  font-size: 2em;    
  position: absolute;
  left: 25em;
    
}

.form{

    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    display: flex;
    position: absolute;
    font-size: 25px;
    left: 31em;
    top: 13.4em;
    gap: 1.5em;
    font-weight: 600;
    text-transform: lowercase;
    
}

.form2{


    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    display: flex;
    position: absolute;
    font-size: 25px;
    left: 31em;
    top: 15.4em;
    gap: 1.5em;
    font-weight: 600;
    text-transform: lowercase;
    


}

.form3{

    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    display: flex;
    position: absolute;
    font-size: 25px;
    left: 31em;
    top: 17.4em;
    gap: 1.5em;
    font-weight: 600;
    text-transform: lowercase;
    
    color: #746BC4;

}


.form4{

    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    display: flex;
    position: absolute;
    font-size: 25px;
    left: 31em;
    top: 19.4em;
    gap: 1.5em;
    font-weight: 600;
    text-transform: lowercase;
    
    color: #746BC4;
}


.btn{

    font-family: 'Raleway', sans-serif;
    width: 225px;
    height: 50px;
    font-size: x-large;
    background-color:#746BC4;
    color: white;
    border-radius: 7%;
    cursor: pointer;
    top: 25em;
    position: absolute;
    left: 33em;
    font-weight: 600;
    border-color:none;


}

.btn:hover{

background-color: rgb(66, 74, 110);

}


.buttontext{

    left: 50em;
    top: 41.4em;
    position: absolute;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}


.input{

    opacity: 50%;
    
}

.input:hover{

border-color: #746BC4;

}

a{
    position: absolute;
    color: #746BC4;
    text-decoration: none;
    top: 42.3em;
    left: 62em;
    font-weight: 600;
    

}